<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vex_E_commerce</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vex_E_commerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="fixed min-w-svw bg-[#fafafa] shadow-sm">
            <div class="flex items-start justify-between px-14 py-5">
            <div class="text-2xl font-bold">
                <a href="/">Vex</a>
            </div>

            <div class="flex flex-col items-center justify-center gap-5">
                <div class="relative flex items-center justify-center">
                    <input type="text"
                           placeholder="Search..."
                           aria-label="Search"
                           class="relative w-[500px] rounded-full bg-[#F3F3F3] py-1 pr-4 pl-10 placeholder:text-muted-foreground placeholder:text-sm" />

                    <i class='bx bx-search absolute top-1/2 left-4 -translate-y-1/2 text-gray-500'></i>
                </div>

                <div class="flex gap-10">
                    <a href="/category">Category</a>
                    <a href="/Shop">Shop</a>
                    <a href="/About-us">About</a>
                    <a href="/Contact">Contact</a>
                    
                </div>
            </div>
            <partial name="_LoginPartial" />
        </div>
    </header>

    @RenderBody()
    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>