<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vex_E_commerce</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vex_E_commerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/css/icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/site/nohemi.css" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <header class="fixed z-40 min-w-svw border-b border-border bg-[#fafafa] shadow-sm">
        <div class="flex h-[76px] items-center justify-between p-5">
            <div class="text-3xl font-bold">
                <a href="/">Vex</a>
            </div>

            <div class="hidden flex-col items-center justify-center gap-5 md:flex">
                <div class="flex items-center justify-center gap-10">
                    <a class="font-semibold hover:underline" href="/category">Category</a>
                    <a class="font-semibold hover:underline" href="/Shop">Shop</a>
                    <a class="font-semibold hover:underline" href="/About-us">About</a>
                    <a class="font-semibold hover:underline" href="/Contact">Contact</a>
                </div>
            </div>
            <partial name="_LoginPartial" />
        </div>

        <div class="flex flex-col items-center justify-center gap-5 py-3 text-sm md:hidden">
            <div class="flex items-center justify-center gap-10">
                <a class="font-semibold hover:underline" href="/category">Category</a>
                <a class="font-semibold hover:underline" href="/Shop">Shop</a>
                <a class="font-semibold hover:underline" href="/About-us">About</a>
                <a class="font-semibold hover:underline" href="/Contact">Contact</a>
            </div>
        </div>



    </header>

    @RenderBody()




    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/index.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>