@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<div class="flex gap-3">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var pictureProfile = user?.ProfilePictureUrl ?? "https://avatars.githubusercontent.com/u/124599?v=4";


        <div class="flex items-center gap-5 text-2xl">
            <a href="/cart" class="text-2xl">
                <i class='bxr bx-cart'></i>
            </a>
           <a href="/whitlist">
                <i class='bxr bx-heart'></i>
           </a>
            <img class="size-8 rounded-full" src="@pictureProfile" />
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="border border-primary px-5 py-1 text-sm">Logout</button>
            </form>
        </div>

       
    }
    else
    {
       <div class="flex items-center gap-5">
            <div>
                <a  asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
            <div>
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            </div>
       </div>
    }
</div>

