@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="w-full">
    <h1 class="text-2xl font-bold">Add New Product</h1>
    <div class="my-5 h-px border-b border-border"></div>

        <form action="/" method="post">
        <div class="grid grid-cols-2 md:grid-col-1">

            <div>
                <div>
                    <h2 class="text-lg font-medium">General Infomation</h2>
                </div>
                <div class="mt-6">
                    <label>Product Name</label>
                </div>
            </div>
            <div>Product Image</div>
            </div>
        </form>
</div>
