@model Vex_E_commerce.Models.Product

@{
    ViewData["Title"] = "Cart page";
}

<div class="pt-20 pl-20">
    <h1>Shopping Cart</h1>
        <table>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub total</th>
            </tr>
            <tr>
            <td><img src="@Model.PictureUrl" class="object-cover" /></td>
                <td>Alfreds</td>
                <td>napat</td>
                <td>attatyoiko</td>
                <td>attatyoiko</td>
            </tr>
        </table>
    @* <h1>Cart page ของสินค้า: @Model.Title</h1> *@
</div> 