@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<svg class="circle">
    <defs>
        <clipPath id="clip-circle" clipPathUnits="objectBoundingBox">
           <path d="M0 0H0.756964C0.891189 0 1 0.116259 1 0.259673C1 0.403086 0.891189 0.519345 0.756964 0.519345H0V0Z" fill="#D9D9D9"/>
            <path d="M0 0.519345H0.609331C0.733557 0.519345 0.834262 0.626943 0.834262 0.759673C0.834262 0.892402 0.733557 1 0.609331 1H0V0.519345Z" fill="#D9D9D9"/>
        </clipPath>
    </defs>
</svg>

<section class="grid grid-cols-2 gap-10">
    <figure>
        <img class="clip-img hidden aspect-square h-full overflow-hidden object-cover md:block" src="~/Images/HomeImage/Girl.webp" />
    </figure>

    <div class="items- flex flex-col justify-between">
        <p class="hidden flex-wrap md:block md:text-5xl">
            Not just apparel — a culture that inspires creativity, empowers individuality, and unites a new generation of creators.
        </p>

        <p class="hidden text-sm md:block md:w-80">
            We believe streetwear is more than what you wear — it’s how you express who you are.
            Every piece we design connects culture, art
        </p>
    </div>
</section>


<section>
    <img class="clip-img relative block aspect-square h-full overflow-hidden object-cover md:hidden" src="~/Images/HomeImage/Girl.webp" />
</section>


<style>
    .clip-img {
        clip-path: url(#clip-circle)
    }
    svg.circle {
        position : absolute;
        top : -999px;
        left : -999px;
        width : 0;
        height : 0; 
    }
</style>