@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="w-full overflow-hidden bg-white py-3 whitespace-nowrap text-black">
    <div class="animate-marquee inline-block text-base font-medium">
        • 2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm •  2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm •  2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm • 2025 Flash sale • 12:00pm •
    </div>
</div>